.b{
    background-image: url("back.jpg");
    object-fit:fill;
}

.b1{
    background-color: rgb(49, 47, 47);
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    font-size: xx-large;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.b2{
    background-color: rgb(49, 47, 47);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 500px;
}

.b3{
    color:rgb(255, 255, 255);
    background-color:rgba(132, 247, 83, 0.393);
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 15px;
    font-size: x-large;
    border-style: inset;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:left;

}

.b4{
    color:rgb(255, 255, 255);
    background-color:rgba(132, 247, 83, 0.393);
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: x-large;
    border-style: inset;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:right;

}

.b5{background-color: black;
    border-radius: 15px;
    padding-bottom: 30px;
    padding-top: 100px;
    padding-left: 130px;
    padding-right: 130px
}

header {
    background-color: rgba(0, 0, 0, 0.703);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    font-size: x-large;
    display: flex;
    align-items: center;
    
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header li a:hover{
    color: rgb(255, 55, 0);
  }

  #form2{
    border-radius: 5px;
    position: fixed;
    background-color: rgb(49, 47, 47);
    opacity:1;
    display: none;
    height: 60%;
    width: 40%;
    margin-left: 350px;
    cursor: pointer;
    z-index: 2;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}
#form1{
    border-radius: 5px;
    position: fixed;
    background-color: rgb(49, 47, 47);
    opacity:1;
    display: none;
    height: 60%;
    width: 40%;
    margin-left: 350px;
    cursor: pointer;
    z-index: 2;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}
#form3{
    border-radius: 5px;
    position: fixed;
    background-color: rgb(49, 47, 47);
    opacity:1;
    display: none;
    height: 60%;
    width: 40%;
    margin-left: 350px;
    cursor: pointer;
    z-index: 2;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}
#form4{
    border-radius: 5px;
    position: fixed;
    background-color: rgb(49, 47, 47);
    opacity:1;
    display: none;
    height: 60%;
    width: 40%;
    margin-left: 350px;
    cursor: pointer;
    z-index: 2;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}
th, #tb, #tb2, #tb3, #tb4{
    margin-left: 20px;
    padding: 10px;
    background-color: aqua;
    border: 1px, solid;
    
}
th{
    background-color: aqua;
    opacity: 0.6;
}
.ct{
    margin-left: 114px;
    border-style: solid;
    border-radius: 5px;
}
.hide{
    display:none;
}


a{
    color: white;
    font-size: small;
}

.closebutt{
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 463px;
    background-color: red;
    border-radius: 5px;
    color: white;
}
